{{ define "main" }}
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">{{ .Site.Title }}</h2>
								<p>{{ .Site.Params.description }}<br />
								{{ .Site.Params.description }}</p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">{{ i18n "startView" }}</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<div class="row grid" data-masonry='{ "itemSelector": ".grid-item"}'>
								
                  {{ range .Paginator.Pages }}
                  
                    <div class="grid-item 4u 12u$(mobile)">

						          <article class="item">
  						  	      <header>
						  	      	  <a href="{{ .Permalink }}">{{ .Title }}</a>
                          <h4>
              	            {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
                          </h4>
                        </header>
                        <div class="text">
             							{{ if .Truncated }}
                            {{ .Summary }}
                          {{ else }}
                            {{ .Content }}
                          {{ end }}
                        </div>
                        
                      </article> 

							      </div>

                  {{ end }} 
							   
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>{{ i18n "aboutAuthor" }}</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
							ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
							laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
							parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
							dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
							ornare iaculis.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
									<div class="12u$">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="12u$">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>
{{ end }}